log/*.log
tmp/**/*
*.tmproj

*.aux
*.log
*.synctex.gz
*.toc

flowclient
flowserver

*.[ao]

.hg
.hgignore
.DS_Store

certificates/tools/CA/
certificates/tools/CERTIFICATES
certificates/tools/client/
certificates/tools/server/

